Package: ovm-ctl
Priority: Optional
Section: main
Architecture: all
Maintainer: orionvm
Description: OrionVM CLI Control Tools
 This package provides a clean and simple command-line utility to get data on usage,
 currently used resources, and other information available through the OrionVM Web API.
 It can also be used to boot, shutdown and manipulate VMs and other resources.
 See the man page (man ovm-ctl) for full details.
Depends: python (>= 2.5), python (<< 3.0), python-pycurl
Version: 0.0.6
